@import 'variables';

// MENU INFO
#menu-info {
    display: flex;
    grid-area: menu-info;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 5vh 10vw;
    background-image: url('https://bertelsbenjamin.github.io/baboos/assets/img/menu-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
    text-align: center;
    color: $white;
}