/* VARIABLES */
// FONTS
$main-font: "Raleway",
sans-serif;
$logo-font: "Dancing Script",
sans-serif;

// COLORS
$white: rgb(255, 255, 255);
$alto: rgb(221, 221, 221);
$boulder: rgb(119, 119, 119);
$mine-shaft: rgb(38, 38, 38);
$black: rgb(0, 0, 0);
$brick-red: rgb(199, 41, 55);
$shiraz: rgb(174, 4, 30);


// FUNCTIONS